# Byte-code files
*.pyc
__pycache__/

# Virtual environment
venv/
env/
.venv/

# Database
*.sqlite3
db.sqlite3

# Django specific
*.log
*.pot
*.mo
*.po
local_settings.py
media/
static_root/

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Environmental setup
.env